{% extends 'base.html' %}
{% block content %}

<div class="wrapper-sections">
    <div class="section-block-1">
        <pre>
              
Мы благодарим Вас за посещение нашего сайта. Цель его создания 
- налаживание прямых торговых отношений с производителями 
конкурентной продукции , работающих
на территории солнечного Узбекистана.
_____________________________________________________________
        </pre>
    </div>
    <hr>
    <div class="section-block">
        <span>ПРОМЫШЛЕННЫЕ ПРЕДПРИЯТИЯ УЗБЕКИСТАНА</span>
    </div>
</div>
{% endblock %}