<div class="wrapper-nav">
    
    <ul class="nav-item" id="n1">
        <li><a href="#">ЗДРАВСТВУЙТЕ</a></li>
    </ul> <!-- /nav-item -->

    <ul class="nav-item" id="n2">
        <li><a href="#">ПРОИЗВОДИТЕЛИ</a></li>
    </ul> <!-- /nav-item -->

    <ul class="nav-item" id="n3">
        <li><a href="#">ЗАКАЗАТЬ</a></li>
    </ul> <!-- /nav-item -->

    <ul class="nav-item" id="n4">
        <li><a href="#">ПРЕДСТАВИТЕЛЬСТВА</a></li>
    </ul> <!-- /nav-item -->

</div> <!-- /wrapper-nav -->